body {
	padding: 0;
	margin: 0;
	position: relative;
}

body::after {
	content: "";
	background-image: url(../img/background.png);
	background-attachment: fixed;
	opacity: 0.15;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: -1;

}



/*header start*/
.header {
	font-family: Arial;
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	padding: 25px;
	margin-bottom: 25px;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.header-text {
	font-family: Orbitron;
	font-size: 34px;
}

.header-contacts {
	font-size: 16px;
}

.contacts-phone {
	margin-bottom: 8px;
}

.provider-icon {
	position: relative;
	vertical-align: bottom;
	height: 20px;
	width: 20px;
}

.contacts-email {
	color: black;
}

.contacts-email:hover {
	color:red;
}
/*header end*/

.content-container {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}

/*content start*/
.content-flex {
	display: flex;
	justify-content: space-around;
	
}

.item {
	font-family: Roboto;
	background-color: white;
	margin: 10px;
	padding: 20px;
	width: 48%;
	border-width: 2px;
	border-color: red;
	border-style: solid;
	position: relative;
}

.item-code {
	font-family: Arial;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px 15px;
	background-color: red;
}

.item-image{

}

.item-name {
	margin-bottom: 5px;
	font-weight: 900;
	
}

.item-article {
	font-style: italic;
	color: grey;
}

.item-description {

}
/*content end*/


/*footer start*/
.footer {
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 10px rgba(0,0,0,0.25);
	padding: 25px;
	margin-top: 25px;
	font-family: Arial;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	width: 980px;
	margin-left: auto;
	margin-right: auto;
}

.footer-certificate {
	color:black;
}

.footer-certificate:hover {
	color:red;
}
/*footer end*/
